[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"
build = "*"
requests = "*"
pygame = "*"
coverage = "*"
pytest-cov = "*"
pydancer = "==0.0.1"

[dev-packages]

[requires]
python_version = ">=3"
